/** @format */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700&family=Montserrat:wght@300;400;500&family=MuseoModerno:wght@100;200;300;400;500;600;700;800&family=Open+Sans&family=Poppins:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.main-container {
  width: 408px;
  height: 552px;
  margin: 0 auto;
  background: #f3f6f9;
  border-radius: 6px;
}

.brand-container {
  padding: 16px 16px 36px 40px;
}

.brand-img {
  margin: 0 auto;
}

.main-section {
  margin: 0 40px 0 40px;
}

.progress-box {
  width: 100%;
  height: 160px;
  background: #ffffff;
  border: 1px solid #e2edfc;
  box-shadow: 0px 2px 8px rgba(11, 50, 71, 0.05);
  border-radius: 6px;
}

.progress-section {
  padding: 16px 24px;
}

.progress-chart {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: linear-gradient(91.03deg, #23587b -4.95%, #093d60 99.32%),
    linear-gradient(0deg, #ffffff, #ffffff);
  transform: rotate(220deg);
  overflow: hidden;
  position: relative;
}
.slice {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 100% 50%, 100% 0);
}

.empty {
  background: linear-gradient(91.03deg, #ff6d1e -4.95%, #ff7d36 99.32%),
    linear-gradient(0deg, #ffffff, #ffffff);
  transform: rotate(0deg);
  clip-path: polygon(50% 50%, 100% 100%, 100% 0);
  z-index: 0;
}

.text-secondary {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #5b5b5b;
}
.text-primary {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #23587b;
}
.yellow-txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #ff823e;
}
.link-txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  text-decoration-line: underline;
  color: #23587b;
}

.notify-btn {
  width: 328px;
  height: 40px;
  margin-bottom: 16px;
  outline: none;
  border: none;
  text-transform: capitalize;
  color: #f3f6f9;
  background: linear-gradient(91.03deg, #ff6d1e -4.95%, #ff7d36 99.32%);
  box-shadow: 0px 4px 16px rgba(101, 101, 101, 0.12);
  border-radius: 6px;
}

/* common style */
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-x {
  flex-direction: column;
}
.text-start {
  text-align: start !important;
}
.fs-2 {
  font-size: 24px;
}
.gap-16 {
  gap: 16px;
}
.gap-8 {
  gap: 8px;
}
.m-12 {
  margin: 12px 0;
}
.my-fix {
  margin: 16px 0 44px 0;
}
.ps-15 {
  padding-left: 15px;
}
.font-4 {
  font-weight: 400;
}
.font-6 {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
