/** @format */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700&family=Montserrat:wght@300;400;500&family=MuseoModerno:wght@100;200;300;400;500;600;700;800&family=Open+Sans&family=Poppins:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.main-container {
  width: 408px;
  height: 552px;
  margin-left: auto;
  background: #f3f6f9;
  border-radius: 6px;
}

.brand-container {
  padding: 16px 16px 24px 40px;
}

.brand-img {
  margin: 0 auto;
}

.banner {
  width: 144px;
  height: 144px;
  object-fit: cover;
  margin: 0 auto 16px auto;
}

.main-section {
  margin: 0 40px 24px 40px;
}

.input {
  width: 100%;
  height: 8px;
  margin-bottom: 8px;
  background: #ffffff;
  border: 0.2px solid #b2dff2;
  box-shadow: inset 0px 0px 2px rgba(178, 223, 242, 0.25);
  border-radius: 18px;
}

.text-secondary {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #5b5b5b;
}
.text-primary {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #ff823e;
}
.link-text,
.link-text a {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  text-decoration-line: underline;
  color: #23587b;
}

/* common style */
.flex {
  display: flex;
}
.flex-between {
  justify-content: space-between;
  align-items: center;
}
.gap-16 {
  gap: 16px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pt-8 {
  padding-top: 8px;
}
.pt-24 {
  padding-top: 24px;
}
.pointer {
  cursor: pointer;
}
